*,
*::after,
*::before { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
}
.card {
    width:18.5%;
    border:2px solid rgb(119, 119, 119);
    box-shadow: 0 2px 5px rgb(129, 35, 129);
    padding:20px;
    margin:5px;
    border-radius: 7px;
}
#show {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin:20px 0;
}
#start {
    margin:20px 0;
}